body{
    background: url("ImagenFondo/fondo15.jpg") center center fixed;
    background-size:cover;/*Colocar una imagen de fondo en toda la pantalla*/
}
input{
    background-color: #ffe7fa;
}
header
{
    margin: 50px 30px;
    text-align: center;
}
div{
    width: 330px;
    margin: 15px auto;
}
h1
{
    color: #3a2b59;
    font: bold 50px Arial;
}
h3{
    color: #3a2b59;
    width: 150px;
    padding: 0px;
    margin: 0px;
    font: normal 15px Elephant;
    float: left;
}
#enviar
{
    background-color: #3a2b59;
    width: 100px;
    height: 40px;
    margin: 20px 65% 10px 35%;
    font: normal 25px "Bauhaus 93";
}
footer
{
    color: #ffe7fa;
    text-align: center;
}